        /* GLOBAL  */
        
        * {
            box-sizing: border-box;
        }
        
        .clear {
            clear: both;
        }
        /* HEADER CSS */
        
        .header {
            background-color: black;
            color: rgb(219, 172, 43);
            padding: 5px;
        }
        
        .header__navbar {
            display: flex;
            justify-content: space-around;
            align-items:center;
        }
        
        .header__navbar p {
            font-size: 36px;
            font-weight: 400;
        }
        
        .header__content {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        
        .header__content ul {
            list-style: none;
        }
        
        .header__content li {
            display: inline;
            padding: 20px;
        }
        
        .header__content a {
            text-decoration: none;
            color: white;
        }
        
        .header__content p {
    
            margin-left: 150px;
            margin-top: 40px;
            color: white;
        }
        
        .header__navbar {
            background-color: black;
        }
        
        .header__button {
            margin-top: 17px;
            margin-right: -50px;
            background-color: rgb(11, 196, 226);
            font-size:16px;
            font-weight: 800;
            text-align: center;
            border-radius: 50px;
            line-height: 16px;
            height: 60px;
            padding: 12px 0;
            position: relative;
            min-width: 200px;
            max-width: 350px;
            z-index: 0;
        }
        
        .header ul {
            list-style: none;
            padding-left: 10px;
            align-items: center;
        }
        
        .header ul li:hover {
            padding-bottom: 20px;
            border-bottom: 3px solid #FABE1E;
        }
        
        .header ul li {
            padding: 40px;
            box-sizing: border-box;
            margin-bottom: -20px;
            float: left;
            position: relative;
        }
        
        .header ul li a {
            text-decoration: none;
            color: white;
        }
        
        .header ul li ul {
            position: absolute;
            top: 80px;
            left: -10px;
            visibility: hidden;
        }
        
        .header ul li ul li {
            border-color: antiquewhite;
            width: 50px;
        }
        
        .header ul li:hover li {
            visibility: visible;
        }
        
        .header ul {
            list-style: none;
            padding-left: 10px;
            align-items: center;
        }
        
        .header ul li:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid #FABE1E;
        }
        
        .header ul li {
            padding: 20px;
            box-sizing: border-box;
            margin-bottom: -1px;
            float: left;
            position: relative;
        }
        
        .header ul li a {
            text-decoration: none;
            color: white;
        }
        
        .header ul li ul {
            position: absolute;
            top: 40px;
            left: -10px;
            visibility: hidden;
        }
        
        .header ul li ul li {
            border-color: antiquewhite;
            width: 100px;
        }
        
        .header ul li:hover li {
            visibility: visible;
        }
        /* CAROUSEL CSS */
        
        .carousel {
            margin: 0 auto;
            background-image: url(../images/lol.jpg);
            height: 100vh;
            width:100%;
            background-position:cover;
            background-repeat: no-repeat;
            background-size:cover;
            display: flex;
            overflow-x: hidden;

        }
        /* BANNER CSS  */
        
        .banner__content {
            text-align: center;
            font-size: 17px;
        }
        
        .container {
            display: flex;
            width: 100%;
            padding: 4% 2%;
            box-sizing: border-box;
            height: 100vh;
       }
        .box {
            flex: 1;
            overflow: hidden;
            transition: 0.5s;
            margin: 0 2%;
            box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
            line-height: 0;
       }
        .box > img {
            width: 200%;
            height: calc(100% - 10vh);
            object-fit: cover;
            transition: 0.5s;
       }
        .box > span {
            font-size: 3.0vh;
            display: block;
            text-align: center;
            height: 10vh;
            line-height: 2.6;
       }
        .box:hover {
            flex: 1 1 50%;
       }
        .box:hover > img {
            width: 100%;
            height: 100%;
       }
       .view {
           font-size:17px;
           margin-left: 600px;
           text-decoration: none;
       }
        /* DUC CSS  */
        .duc {
            margin: 0 auto;
        }
        
        .video {               
                position: cover;
                right: 0%;
                display: flex;             
                width: 100%;
                height: 100vh;
                object-fit: cover;
              }
        
        .duc__button {
            background-color: rgb(11, 196, 226);
            font-size: 12px;
            font-weight: 800;
            text-align: center;
            border-radius: 2px;
            line-height: 16px;
            height: 60px;
            padding: 12px 0;
            position: relative;
            min-width: 200px;
            max-width: 300px;
            z-index: 0;
            float: right;
        }
        /* FOOTER  */
        
        .Foot {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 12px;
        }
        
        .Foot_item {
            margin: 10px;
         text-decoration: none;
        }